@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 375px;
    height: 667px;
    margin: auto;
    background-color: #B2EBF2;
}

nav {
    width: 375px;
    height: 60px;
}

li {
    display: inline;
    padding-right: 50px;
}

img {
    width: 50px;
    height: 50px;
}

section {
    background-color: #00BCD4;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 160px;
    border-radius: 30px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

form input {
    border-radius: 15px;
    border: 2px solid #0097A7;
    width: 60%;
    height: 100px;
}

form input[type="submit"] {
    border-radius: 15px;
    width: 45px;
    height: 30px;
    background-color: #FF5722;
    font-family: 'Raleway', sans-serif;
}

section.users {
    height: 100px;
    width: 300px;
    border-radius: 30px;
    margin: auto;
    float: left;
}

button {
    float: left;
    border-radius: 15px;
    width: 75px;
    height: 50px;
    background-color: #FF5722;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border:none;
    font-size: 14pt;
}

section.users p {
    font-family: 'Droid Sans', sans-serif;
    padding: 10px;
}