@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    background-color: #B2EBF2;
}

nav {
    height: 60px;
}

li {
    display: inline;
    padding-right: 10%;
}

img {
    width: 50px;
    height: 50px;
}

section {
    background-color: #00BCD4;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    height: 160px;
    border-radius: 30px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

form input {
    border-radius: 15px;
    border: 2px solid #0097A7;
    width: 60%;
    height: 100px;
}

form input[type="submit"] {
    border-radius: 15px;
    width: 45px;
    height: 30px;
    background-color: #FF5722;
    font-family: 'Raleway', sans-serif;
}

section.users {
    height: 60px;
    width: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
}

section.hide {
    visibility: hidden;
}

section.show {
    visibility: visible;
}

button {
    border-radius: 15px;
    width: 80px;
    height: 22px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: 1px solid #0097A7;
    background-color: #FF5722;
    font-size: 10pt;
    color: white;
}



section.users p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 10pt;
    padding: 10px;
    /*background-color: white;
    border-radius: 15px;*/
}



